name: Update main
on:
    schedule:
    - cron:  '0 0 * * 0'
jobs:
  pullRequest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          repository: VictorOrts/VictorOrts.github.io
      - name: Merge master to main
        run: |
          git checkout master
          git merge main
          git status

