name: Update main
on:
# Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ main ]
# Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
# Jobs 
jobs:
  pullRequest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          repository: VictorOrts/VictorOrts.github.io
      - name: Merge master to main
        run: |
          git checkout master
          git merge main
          git status

